:root {
    /*Colores*/
    --Gris: #BBBBBB;
    --grisBlack: #888888;
    --grisBla: #555555;
    --blanco: #FEFEFE;
    --black: #000000;
    --mostaza: #c78c19;
    --verde: #088c19;
}

body {
    font-family: 'Montserrat',
        sans-serif;
}

header {
    background-color: var(--Gris);
    padding: 20px 0;
}

.container {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.container-link {
    display: flex;
    flex-direction: row;
    list-style:none;
    padding: 50px;
}



.link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
    color: var(--black);
    text-decoration: none;
}

.link:hover {
    color: var(--mostaza);
}

/*Index*/

.banner {
    width: 100%;
    height: 100%;
}

.principal {
    padding: 3em 0;
    background: var(--blanco);
    width: 940px;
    margin: 0 auto;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0.5em 1em;
    clear: left;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.principal-herramientas {
    width: 110px;
    float: left;
    margin: 0 20px 20px 0;
}

.map {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.map p {
    margin: 0 0 2em;
    text-align: center;
}

.map-container {
    width: 940px;
    margin: 0 auto;
}

.características {
    padding: 3em 0;
    background: var(--grisBlack);
}

.diferencial-lista {
    width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.diferencial-img {
    width: 30%;
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px #000000;
}

.diferencial-img:hover {
    opacity: 0.3;
}

.diferencial-items {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 15px;
    column-gap: 25px;
}

.items {
    width: 45%;
    font-weight: bold;
}

.items::before {
    content: "🪒";
}

/* Index Galeria*/


.galeria {
    margin: 0 auto;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 20px;
    column-gap: 25px;
}

.galeria-img {
    width: 40%;
    height: 250px;
    border-radius: 20px;
    transition: 0.4s all;
}

.galeria-img:hover {
    box-shadow: 10px 10px 50px 15px #000000;
    transform: scale(1.2);
}



/*Index Video*/

.video {
    width: 560px;
    margin: 2em auto;
}

/*Productos*/

.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.producto_caja {
    width: 25%;
    text-align: center;
    margin: 0 1.5%;
    padding: 30px 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    
}

.producto_caja:hover {
    border-color: var(--mostaza);
}

.producto_caja:active {
    border-color: var(--verde);
}

.principal h2 {
    font-size: 30px;
    font-weight: bold;
}

.principal_caja:hover h2 {
    font-size: 33px;
}

.prodducto_descripcion {
    font-size: 15px;
}

.producto_presio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

/*Contacto*/

form {
    margin: 40px 200px;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: var(--blanco);
    background: var(--mostaza);
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: var(--mostaza);
    transform: scale(1.2);
}

table {
    margin: 40px 40px;
}

thead {
    background: var(--grisBla);
    color: var(--blanco);
    font-weight: bold;
}

td, th {
    border: 1 solid #000000;
    padding: 8px 15px;
}

/*Footer*/

footer {
    
    text-align: center;
    background: url(img/br.jpg);
    
}

.copyr {
    color: var(--blanco);
    font-size: 13px;
    margin: 5px;
}

/*Remover fondo de la imagen en logo*/
.remove-bg {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    padding: 10px;
}

@media (min-width: 320px) and (max-width: 479px) {

    .container {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
     }

    .principal {
        width: auto;
        padding: 5px 20px;

    }

    .map-container, .galeria{
        width: auto;
    }

    .diferencial-lista {
        width: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .diferencial-items {
        padding: 0 0 20px 0;
        display: flex;
        flex-direction: column;
    }

    .items {
        width: auto;
    }

    
    .video {
        width: 100%;
        height: 100%;
    }

}

@media (min-width: 480px) and (max-width: 799px) {

    .container {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .container-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .boton {
        padding: 5px 0;
    }

    .logobarberia {
        padding: 25px 0;
    }

    
    .map-container, .galeria {
        width: auto;
    }

    .principal {
        width: auto;
        padding: 5px 20px;

    }

    .diferencial-lista {
        width: auto;
        align-items: center;
    }

    .diferencial-items {
        display: flex;
        flex-direction: column;
    }

    .items {
        width: auto;
        padding: 0 50px;
    }


    .video {
         width: 100%;
         height: 100%;
    }

}

@media (min-width: 800px) and (max-width: 1000px) {

    .container, .map-container,
    .principal {
      width: auto;
    }

    .principal {
        width: auto;
        padding: 5px 20px;

    }

}


